In [3]:
import numpy as np
import pandas as pd

df = pd.DataFrame({
   'col1': ['Item0', 'Item0', 'Item1', 'Item1'],
   'col2': ['Gold', 'Bronze', 'Gold', 'Silver'],
   'col3': [1, 2, np.nan, 4]
})

In [4]:
# Displays the top 5 rows. Accepts an optional int parameter - num. of rows to show
df.head()

    col1    col2  col3
0  Item0    Gold   1.0
1  Item0  Bronze   2.0
2  Item1    Gold   NaN
3  Item1  Silver   4.0